<!DOCTYPE html>
<html ng-app="tcApp">
<head>
  <title>TimeCapsule </title>
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="components/angular/angular.js"></script>
</head>
<ng-include src="'partials/nav.html'" ng-cloak></ng-include>
<body>
  <div class="container">
    <h1>Deployd Microblogging</h1>
    <h2>Sign up</h2>
    <form ng-controller="RegisterCtrl">
      <label>Username</label>
      <input type="text" class="input-xlarge" ng-model="username" />
      <label>Password</label>
      <input type="password" class="input-xlarge" ng-model="password" />
      <label>Confirm Password</label>
      <input type="password" class="input-xlarge" ng-model="confirmPassword" />
      <div>
        <button class="btn btn-primary" ng-click="register()">Sign up</button>
        <a href="/" ng-href="{{referrer}}" class="btn btn-link">cancel</a>
      </div>
    </form>    
  </div>

  <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/dpd.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>