<div class="feed-list">
  <div class="post" ng-repeat="post in feed.posts">
    <div class="author">
        {{post.creatorName}} <a ng-href="/user.html?user={{post.creatorName}}">@{{post.creatorName}}</a>
        {{post.postedTime |timeAgo }}
    </div>
      <div dpd-message-for="post"></div>

      <div class="row">
          <div class="col-xs-8 col-md-6">
              <a href="/s3/{{post.subdir}}/{{post.filename}}" class="thumbnail">
                  <img src="s3/{{post.subdir}}/{{post.filename}}">
              </a>
          </div>
      </div>

  </div>
</div>
  <button class="btn btn-link load-more-btn" ng-show="feed.moreToLoad" ng-click="feed.loadPosts()">Show more</button>